* {
    font-family: 'Lato', sans-serif;
    margin: 0px;
    padding: 0px;
}

header {
    height: 9vh;
}

/* ***** Navigation CSS ***** */
a {
    text-decoration: none;
    color: #6b8897;;
    font-size: 12px;
}

#navigation-login-bttn {
    color: #32c5ff;
    border: 2px solid #32c5ff;
    border-radius: 8px;
    box-shadow: inset 0px 2px 0px rgb(255 255 255 / 24%);
    padding: 14px 32px;
}
.navigation-section {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    position: fixed;
    top: 0%;
    left: 0%;
    background: azure;
    width: 100vw;
    height: 9vh;
    font-style: normal;
    align-items: center;
    color: #6b8897;;
}

.heading-name h1{
    padding-left: 4vw;
    font-size: 18px;
    width: 33vw;
    text-align: left;
    font-weight: bold;
}

.hamburger i{
    display:none;
}

.navbar ul li {
    list-style-type: none;
    padding:20px;
    font-size: 12px;
}

.navbar ul {
    width: 58vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ***** Body CSS ***** */
/* BODY SECTION 1 */
.body-section {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

.body-1 {
    background: linear-gradient(225deg, #32C5FF 0%, #B620E0 51.26%, #F7B500 100%);
    height: 440px;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    /* grid-template-columns: 1fr 1fr;
    grid-template-areas: "body1-left body1-right"; */
}

.body1-left {
    /* grid-area: body1-left; */
    width:50vw;
}

.body1-span h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 43px;
    color: #FFFFFF;
    padding:0px 0px 0px 100px;
}

.body1-span p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF;
    width: 344px;
    padding:0px 0px 40px 100px;
}

.body1-span {
    width:344px;
    height:144px;
}

.body1-button {
    height: 48px;
    width: 248px;
    background: linear-gradient(177.31deg, #32C5FF -71.22%, #7275F0 81.97%, #B620E0 246.67%);
    border: 1px solid #6236FF;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.24), inset 0px 2px 0px rgba(255, 255, 255, 0.24);
    border-radius: 8px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 100px;
    cursor:grab;
}

.body1-right {
    /* grid-area: body1-right; */
    display:flex;
    justify-content:center;
    padding-top: 150px;
    width:50vw;

}

.body1l-img {
    grid-area: body1l-img;
}

.body1r-img {
    grid-area: body1r-img;
}


/* BODY SECTION 2 */
.body-2 {
    background: #D8D8D8;
    height: 440px;
    margin: 0px;
    padding: 0px;
    background-image: url("assets/triangle-background.png");
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 40px;
    grid-template-areas: "body2-box1 body2-box2" ". body2-box3";

}

.body2-left {
    grid-area: body2-box1;
    width: 50vw;
}

.body2-left img{
    height: 440px;
    width: 40vh;
    object-fit: cover;
}

.body2-right {
    grid-area: body2-box2;
    width: 50vw;
    height:144px;
}


.body2-right h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    color: #787D84;
    padding:100px 0px 0px 100px;
}

.body2-right p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #787D84;
    padding:0px 0px 40px 100px;
    width: 344px;
}

.body2-span-btn{
    grid-area: body2-box3;
}

.body2-span-btn button {
    background: linear-gradient(180deg, #FFFFFF 0%, #D8D8D8 113.83%);
    border: 1px solid #0091FF;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.24), inset 0px 2px 0px #FFFFFF;
    border-radius: 8px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    color: #0091FF;
    text-shadow: 0px 1px 0px #FFFFFF;
    margin-left:100px;
    width: 248px;
    height: 44px;
    cursor:grab;
}
/* BODY SECTION 3 */
.body-3 {
    background-color: #fde7f9;
    background-image: linear-gradient(315deg, #fde7f9 0%, #aacaef 74%);
     
    /* background: linear-gradient( 180deg, rgba(50, 197, 255, 0.12) 0%, #ffffff 100% ); */
    height: 440px;
    margin: 0px;
    padding: 0px;
    display:grid;
    grid-template-rows: auto;
    grid-template-areas: "body3-box1" 
                        "body3-box2" 
                        "body3-box3";
}

.body3-quote-section{
    grid-area: body3-box1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    height: 240px;
}

.body3l-quote {
    font-style: normal;
    font-weight: normal;
    font-size: 200px;
    width: 74px;
    color: rgba(0, 0, 0, 0.1);
    padding-top: 30px;
}

.body3r-quote {
    font-style: normal;
    font-weight: normal;
    font-size: 200px;
    width: 74px;
    color: rgba(0, 0, 0, 0.1);
    padding-top: 30px;
}

.body3-p {
    width: 721px;
    height:160px;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    text-align: center;
    color: #787D84;
    padding-top:100px;
}

.body3-reference {
    grid-area: body3-box2;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #6D7278;
}

.body3-img {
    grid-area: body3-box3;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* BODY SECTION 4 */
.body-4 {
    background-color: rgb(29, 28, 28);
    background-image:url("assets/code-background.png");
    background-size: cover;
    /* filter: contrast(80%); */
    height: 440px;
    margin: 0px;
    padding: 0px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.body4-l h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    color: #FFFFFF;
    padding-top:80px;
}

.body4-l button {
    background: linear-gradient(180deg, #313539 0%, #000000 100%);
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.24), inset 0px 2px 0px rgba(255, 255, 255, 0.12);
    border-radius: 8px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    width:224px;
    height: 48px;
    margin-top:50px;
    cursor: grab;
}

.body4-p1 {
    width: 344px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #FFFFFF;
    padding-top: 20px;
}

.body4-p2 {
    width: 344px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #FFFFFF;
    padding-top: 40px;
}


.body4-r img {
    padding:50px;
    width: 80%;
    height: 70%;
}


/* ***** Footer CSS ***** */
.footer-section {
    background: linear-gradient(257.46deg, #32C5FF -7.2%, #B620E0 67.92%, #F7B500 139.34%);
    height: 440px;
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "box1 box2"
                            "box3 box3";
}

.footer-links li {
    list-style-type: none;
    font-size: 15px;
    color:white;
    line-height: 2rem;
}

.footer-links li a{
    text-decoration: none;
    color:white;
}

.footer-link-heading {
    font-size: 1.2rem;
    color:white;
}

.right-top-footer {
    grid-area: box1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-top-footer {
    grid-area: box2;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 3rem;
}

.bottom-footer {
    grid-area: box3;
    font-size: 15px;
    color:white;
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-bottom: 10px;
}

#copyright-section {
    justify-content: flex-start;
    padding-left: 3vh;
}
#made-by-section {
    justify-self: flex-end;
    padding-right: 3vh;
}

@media screen and (max-width: 1200px) {

    .hamburger i{
        display:block;
        width: 10%;
        padding-right:20px;
        cursor: pointer;
    }

    .heading-name h1{
        width: 90%;
    }

    .navbar ul {
        display:none;
    }

    /* Body Section #1 */
    .body-1 {
        flex-direction:column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .body1-left{
        width:400px;

    }

    .body1-span h2 {
        padding-left: 60px;
        padding-bottom: 10px;
    }
    
    .body1-span p {
        padding:0px 0px 20px 30px;
        text-align: center;

    }

    .body1-button {
        margin:0px;
        position: relative;
        left: 20%
    }
    .body1-right {
        justify-content:center;
        align-items: center;
        height: 25%;
        padding:0px;    
    }

    .body1l-img img, .body1r-img img {
        padding-top: 170px;
        height:250px;
    }


    /* Body Section #2 */
    .body-2 {
        display:grid;
        grid-template-rows: 100px 240px 40px;
        grid-template-areas: "box-1" "box-2" "box-3";
        height:440px;
    }

    .body2-right {
        grid-area: box-1;
        width:100vw;
        height:200px;
    }
    .body2-right h2{
        width: 330px;
        padding-top:50px;
        padding-left:50px;
        font-size: 20px;
    }
    .body2-right p{
        width: 330px;
        padding: 0px;
        padding-left: 50px;
        font-size: 12px;
    }
    
    .body2-left {
        grid-area: box-2;
        height:200px;
    }
    
    .body2-left img{
        padding-top:45px;
        height:380px;
        margin:-5rem;
    }
    .body2-span-btn {
        grid-area: box-3;
    }
    .body2-span-btn button{
        margin-left:120px;
    }


    /* Body Section #3 */
    .body3-p {
        width:80%;
        font-size: 16px;
        padding-top:50px;
    }
    .body3r-quote{
        padding:0px;
    }
    .body3l-quote{
        padding:0px;
    }

    /* Body Section #4 */
    .body-4 {
        width:100vw;
        height:640px;
        flex-direction: column;
        justify-content:center;
        align-items:center;
    }

    .body4-l {
        height:300px;
    }

    .body4-l h2 {
        width:400px;
        padding:0px;
        text-align:center;
    } 

    .body4-p1, .body4-p2 {
        width:400px;
        padding: 0px;
        padding-bottom: 20px;
        text-align:center;
        font-size: 16px;
    } 
    .body4-l button {
        margin:0px;
        position: relative;
        left:25%;
    }
    .body4-r img {
        padding:0px;
        width: 85vw;
        height: 380px;
        margin-top: -80px;
    }

    /* Footer */
    .footer-section {
        grid-template-areas: "box2" "box1" "box3";
        grid-template-columns: 1fr;
        width:100%;
        height:600px;
    }

    .right-top-footer{
        padding-top: 10px;
    }
    .bottom-footer {
        font-size: 12px;
    }
}

@media screen and (max-width: 400px) {
    /* Body Section 2 */
    .body2-left img{
        padding-top:45px;
        height:380px;
        margin:-10rem;
        padding-top:120px;
    }

    /* Footer */
    .left-top-footer{
        flex-direction: column;
        justify-content: space-between;
        align-items:center;
        padding:0px;
        margin: 0px;
    }
    .footer-section{
        height: 1000px;
    }
}
