body {
    margin: 0px;
    padding: 0px;
}

header {
    height: 9vh;
    width: 100vw;
}

/* ***** Navigation CSS ***** */
a {
    text-decoration: none;
    color: #6b8897;;
    font-size: 12px;
}

#navigation-login-bttn {
    color: #32c5ff;
    border: 2px solid #32c5ff;
    border-radius: 8px;
    box-shadow: inset 0px 2px 0px rgb(255 255 255 / 24%);
    padding: 14px 32px;
}
.navigation-section {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0%;
    left: 0%;
    background: azure;
    width: 100vw;;
    height: 9vh;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    text-align: center;
    color: #6b8897;;
}

.heading-name h1{
    line-height: 60px;
    padding-left: 4vw;
    font-size: 18px;
    width: 33vw;
    text-align: left;
    font-weight: bold;
}

.navbar ul li {
    list-style-type: none;
    padding:20px
}

.navbar ul {
    width: 58vw;
    height:48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ***** Body CSS ***** */
.body-section {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

.body-1 {
    background: linear-gradient(225deg, #32C5FF 0%, #B620E0 51.26%, #F7B500 100%);
    width: 100vw;
    height: 440px;
    margin: 0px;
    padding: 0px;
}

.body-2 {
    background: #D8D8D8;
    width: 100vw;
    height: 440px;
    margin: 0px;
    padding: 0px;
}

.body-3 {
    background: linear-gradient(180deg, rgba(50, 197, 255, 0.12) 0%, #FFFFFF 100%);
    width: 100vw;
    height: 440px;
    margin: 0px;
    padding: 0px;
}

.body-4 {
    background-color: rgb(29, 28, 28);
    width: 100vw;
    height: 440px;
    margin: 0px;
    padding: 0px;
}


/* ***** Footer CSS ***** */
.footer-section {
    background: linear-gradient(257.46deg, #32C5FF -7.2%, #B620E0 67.92%, #F7B500 139.34%);
    width: 100vw;
    height: 440px;
    margin: 0px;
    padding: 0px;
}

